{% extends 'base.html' %}
{% block header %}
<title>Update Crag</title>
{% endblock header %}
{% block content %}
<br>
<h2 class="text-center">Update Crag</h2>
<br>
<form action='/updatecrag/{{ crag.id }}' method='POST' style="margin-left: 5%; margin-right: 5%;">
    <div class="form-row">
      <div class="form-group col-md-5">
        <label for="name">Crag Name</label>
        <input type="name" class="form-control" id="name" value="{{ crag.name }}" name="name">
      </div>
      <div class="form-group col-md-4">
        <label for="city">Nearest City</label>
        <input type="text" class="form-control" id="city" value="{{ crag.city }}" name="city">
      </div>
      <div class="form-group col-md-3">
        <label for="state">State</label>
        <input type="state" class="form-control" id="state" value="{{ crag.state }}" name="state">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-5">
        <label for="longitude">Longitude</label>
        <input type="text" class="form-control" id="longitude" value="{{ crag.longitude }}" name="longitude">
      </div>
      <div class="form-group col-md-5">
        <label for="latitude">Latitude</label>
        <input type="text" class="form-control" id="latitude" value="{{ crag.latitude }}" name="latitude">
      </div>
      <button class="form-group col-md-2 btn btn-block btn-success">Plot</button>
    </div>
</form>
{% endblock %}
